extends layout

block content

  form(method='post')
    input(type='input', name='name', value='')
    br
    input(type='input', name='place', value='')
    br
    input(type='input', name='date', value='')
    br
    input(type='checkbox', name="type" value='Concerts')
    | Concerts
    br
    input(type='checkbox', name="type" value='Parties')
    | Parties
    br
    input(type='checkbox', name="type" value='Cultural')
    | Cultural
    br
    input(type='checkbox', name="type" value='Diverse')
    | Diverse
    br
    input(type='hidden', id='eventSource', name='eventSource')
    input(type='submit', name='Crear', value='Crear', onclick='document.getElementById("eventSource").value=ne')
    input(type='submit', name='Importar', value='Importar evento', onclick='document.getElementById("eventSource").value=fbe')


