extends layout

block content
  header
    #title
      a(href="/?ref=logo", target="_self")
        h1 #{title}
  main
    aside#controls
      section#profile
        img(src=user.profilePicture)
        h2.profile-name
          span.profile-firstname #{user.firstName}
          br
          span.profile-lastname #{user.lastName}
      section#friends
        div.friend
    section#view
      section#view-controls
      section#list
        div.post
          div.image
          div.info
            div.post-data
              div.post-author Rodrigo Yrigoyen Gonzales
              div.time A las 14:51 p.m.
            div.event-data
              div.event-name @Kaos
              div.friends 24 amigos
        div.post
          div.image
          div.info
            div.post-data
              div.post-author Rodrigo Yrigoyen Gonzales
              div.time
            div.event-data
              div.event-name
              div.friends
    aside#events
      section#events-controls
        div.search-box
        div.promoted
        div.events-list
      footer
  section#float-controls
