doctype html
html(lang="#{locale}" ng-app="Juaku") 
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimal-ui")
    meta(name="apple-mobile-web-app-capable" content="yes")
    //meta(name="mobile-web-app-capable" content="yes") TODO: Chrome Android
    //meta(name="apple-mobile-web-app-status-bar-style" content="black") TODO: iPhone 4
    link(rel="apple-touch-icon" href="/images/touch-icon-iphone-retina.png")
    title= title
    link(rel="icon" type="image/png" href="/images/favicon.png")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    block head
  body(ng-controller="Application")
    block content
