doctype html
html(ng-app)
  head
    meta(charset='utf-8')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/application.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
    block head
  body
    block content
