doctype html
html(lang="#{locale}" ng-app="Juaku") 
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimal-ui")
    meta(name="apple-mobile-web-app-capable" content="yes")
    // No tap resaltado en IE10, IE11 y Windows Phone
    meta(meta name="msapplication-tap-highlight" content="no") 
    //meta(name="mobile-web-app-capable" content="yes") TODO: Chrome Android
    //meta(name="apple-mobile-web-app-status-bar-style" content="translucent")
    link(rel="apple-touch-icon" href="/images/touch-icon-iphone-retina.png")
    title= title
    link(rel="icon" type="image/png" href="/images/favicon.png")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/exif.js")
    script(src="/javascripts/fastclick.js")
    script(src="//npmcdn.com/vue/dist/vue.js")
    script(src="//npmcdn.com/vue-resource/dist/vue-resource.js")
    script(src="/javascripts/moment.js")
    script.
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '278467565655992',
            xfbml      : true,
            version    : 'v2.8'
          });
        };
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    block head
    block content
