doctype html
html(lang='#{locale}' ng-app) 
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, user-scalable=no')
    title= title
    link(rel='icon' type='image/png' href='/images/favicon.png')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/exif.js')
    script(src='/javascripts/application.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body(ng-controller='Application')
    block content
