/* 
 * Estilos generales
 * ------- ---------
 */
body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-width: 995px;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  color: #000;
}
input {
  border: 1px solid #ccc;
}
/*
 * Estilos específicos: /login
 * ------- -----------
 */
main#start {
  background-color: #333;
  margin: 0px;
  width: 100%;
  height: 100%;
}
main#start section#access {
  background-color: #fff;
  width: 300px;
  height: 500px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
main#start section#access #logo {
  background-image: url("/images/sprite.png?v=1005");
  width: 210px;
  height: 90px;
  -webkit-background-size: 210px;
  -moz-background-size: 210px;
  background-size: 210px;
  background-repeat: no-repeat;
  margin: 20px;
}
main#start section#access #logo h1 {
  display: none;
}
main#start section#access #methods #FB {
  background-color: #3b5998;
  color: #fff;
  font-weight: bold;
  width: 230px;
  margin: 20px;
  padding: 10px 0;
  text-decoration: none;
  display: block;
}
/*
 * Estilos específicos: /index
 * ------- -----------
 */
/*
 * Cabecera
 */
header {
  background-color: #fff;
  width: 100%;
  min-width: 995px;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
header #title {
  margin-left: 25px;
}
header #title a {
  background-image: url("/images/sprite.png?v=1005");
  background-repeat: no-repeat;
  -webkit-background-size: 105px;
  -moz-background-size: 105px;
  background-size: 105px;
  width: 105px;
  height: 45px;
  display: block;
}
header #title a h1 {
  display: none;
}
header #search-box {
  margin-left: 31px;
}
header #search-box input {
  color: #555;
  width: 358px;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #eee;
  font-weight: normal;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
header nav#select-block {
  width: 190px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
}
header nav#select-block:before {
  content: '';
  width: 20px;
  height: 30px;
  margin: 13px 0 0 10px;
  border: 1px solid #aaa;
  border-bottom: none;
  border-right: none;
}
header nav#select-block #select {
  background-color: #fff;
  font-size: 14px;
  width: 155px;
  color: #333;
  border: 1px solid #eee;
  position: absolute;
  top: 16px;
}
header nav#select-block #select:after {
  content: '';
  position: absolute;
  left: 137px;
  top: 10px;
  border-top: 7px solid #333;
  border-bottom: 7px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
header nav#select-block #select #current,
header nav#select-block #select #options {
  padding: 5px 25px 5px 10px;
}
header nav#select-block #select #options ul {
  margin: 0;
  padding: 0;
}
header nav#select-block #select #options li {
  list-style: none;
  padding: 5px 0;
}
header nav#main-menu {
  margin: 0 10px;
}
header nav#main-menu ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
header nav#main-menu li {
  list-style: none;
  margin: 0 5px;
}
/*
 * Cuerpo
 */
main {
  margin: 60px 0 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/*
 * Cuerpo / Lado
 */
main aside#controls {
  background-color: #eee;
  text-align: right;
  position: fixed;
  left: 0;
  width: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}
main aside#controls .content {
  width: 110px;
  margin: 0 0 0 20px;
  display: inline-block;
  text-align: right;
}
/*
 * Cuerpo / Lado / Perfil
 */
main aside#controls section#profile {
  margin-top: 15px;
}
main aside#controls section#profile img {
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
}
main aside#controls section#profile h1 {
  font-size: 12px;
  font-weight: normal;
  margin: 5px;
}
main aside#controls section#profile .profile-config {
  margin: 0 5px;
  color: #555;
  width: 20px;
  height: 20px;
  background-color: #aaa;
  display: inline-block;
  position: relative;
}
main aside#controls section#profile .profile-config:after {
  content: '';
  left: 5px;
  top: 7px;
  position: absolute;
  border-top: 7px solid #eee;
  border-bottom: 7px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
/*
 * Cuerpo / Lado / Filtro de tipo
 */
main aside#controls section#type-filter {
  margin: 30px 5px;
}
main aside#controls section#type-filter ul {
  margin: 0;
  padding: 0;
}
main aside#controls section#type-filter li {
  color: #555;
  list-style: none;
  margin: 10px 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
main aside#controls section#type-filter li:hover {
  color: #000;
}
main aside#controls section#type-filter li:after {
  content: '';
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 2px #fff;
  box-shadow: 0 0 0 2px #fff;
  vertical-align: middle;
}
main aside#controls section#type-filter li.all:after {
  background-color: #ddd;
}
main aside#controls section#type-filter li.con:after {
  background-color: #f05;
}
main aside#controls section#type-filter li.par:after {
  background-color: #70f;
}
main aside#controls section#type-filter li.cul:after {
  background-color: #0a9;
}
main aside#controls section#type-filter li.div:after {
  background-color: #f90;
}
main aside#controls section#type-filter li:hover:after {
  background-image: -webkit-radial-gradient(rgba(255,255,255,0.9) 35%, rgba(255,255,255,0) 40%);
  background-image: -moz-radial-gradient(rgba(255,255,255,0.9) 35%, rgba(255,255,255,0) 40%);
  background-image: -o-radial-gradient(rgba(255,255,255,0.9) 35%, rgba(255,255,255,0) 40%);
  background-image: -ms-radial-gradient(rgba(255,255,255,0.9) 35%, rgba(255,255,255,0) 40%);
  background-image: radial-gradient(rgba(255,255,255,0.9) 35%, rgba(255,255,255,0) 40%);
}
/*
 * Cuerpo / Lado / Buscador por tiempo
 */
main aside#controls section#time-finder {
  margin: 50px 5px 10px;
}
main aside#controls section#time-finder ul {
  margin: 0;
  padding: 0;
}
main aside#controls section#time-finder li {
  list-style: none;
  height: 20px;
  color: #999;
}
main aside#controls section#time-finder li:hover {
  color: #000;
}
/*
 * Cuerpo / Lista
 */
main section#list {
  width: 370px;
  min-width: 370px;
  margin-left: 150px;
  padding: 15px 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #aaa;
}
main section#list .event {
  background-color: #fff;
  width: 370px;
  margin-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
main section#list .event:after {
  content: '';
  top: 15px;
  right: -10px;
  border-top: 1px solid #aaa;
  width: 10px;
  position: absolute;
}
main section#list .event .event-image {
  background-color: #eee;
  width: 350px;
  height: 130px;
  margin: 0 10px 10px;
}
main section#list .event .event-image img {
  width: 100%;
}
main section#list .event .event-data {
  width: 350px;
  height: 40px;
  margin: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
main section#list .event.con {
  color: #f05;
}
main section#list .event.par {
  color: #70f;
}
main section#list .event.cul {
  color: #0a9;
}
main section#list .event.div {
  color: #f90;
}
main section#list .event .event-data .event-date {
  font-size: 10px;
  text-align: center;
  margin-right: 7px;
  line-height: 13px;
  text-transform: uppercase;
}
main section#list .event .event-data .event-date span {
  display: block;
}
main section#list .event .event-data .event-date span.event-day-month {
  font-size: 14px;
}
main section#list .event .event-data .event-data-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
main section#list .event .event-data .event-title h2 {
  font-family: 'HelveticaNeueLT Std Thin', Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
main section#list .event .event-data .event-base-info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -o-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}
main section#list .event .event-data .event-base-info .info {
  margin-right: 5px;
}
main section#list .event .event-data .event-location {
  color: #333;
  letter-spacing: -1px;
}
main section#list .event .event-data .event-time {
  color: #555;
  letter-spacing: -1px;
}
main section#list .event .event-data .event-address {
  color: #777;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
main section#list .event .event-controls {
  border-top: 1px solid #eee;
  border-bottom: 3px solid #ddd;
  height: 32px;
  padding: 0 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 12px;
  -webkit-transition: border 200ms;
  -moz-transition: border 200ms;
  -o-transition: border 200ms;
  -ms-transition: border 200ms;
  transition: border 200ms;
}
main section#list .event.con .event-controls:hover {
  border-bottom: 3px solid #f05;
}
main section#list .event.par .event-controls:hover {
  border-bottom: 3px solid #70f;
}
main section#list .event.cul .event-controls:hover {
  border-bottom: 3px solid #0a9;
}
main section#list .event.div .event-controls:hover {
  border-bottom: 3px solid #f90;
}
main section#list .event .event-controls .event-types {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  color: #333;
}
main section#list .event .event-controls .event-types .type {
  margin-right: 10px;
  text-transform: capitalize;
}
main section#list .event .event-controls .event-types .type:before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
main section#list .event.con .event-controls .event-types .type:before {
  background-color: #f05;
}
main section#list .event.par .event-controls .event-types .type:before {
  background-color: #70f;
}
main section#list .event.cul .event-controls .event-types .type:before {
  background-color: #0a9;
}
main section#list .event.div .event-controls .event-types .type:before {
  background-color: #f90;
}
main section#list .event .event-controls .event-join-button {
  font-size: 16px;
  letter-spacing: -1px;
}
/*
 * Cuerpo / Vistas
 */
main section#views {
  background-color: #333;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
main section#views .view {
  color: #fff;
  margin: 0 20px;
  padding: 0 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
main section#views .view.hidden {
  display: none;
}
main section#views .view .method .options {
  overflow: hidden;
  height: 500px;
  -webkit-transition: height 500ms;
  -moz-transition: height 500ms;
  -o-transition: height 500ms;
  -ms-transition: height 500ms;
  transition: height 500ms;
}
main section#views .view .method.hidden .options {
  height: 0;
}
main section#views .view h2 {
  font-family: 'HelveticaNeueLT Std Thin', Arial, sans-serif;
  font-weight: 100;
  border-bottom: 1px solid #555;
  margin: 0;
  padding: 15px 0;
  cursor: pointer;
}
main section#views .view input,
main section#views .view textarea {
  border: none;
  display: block;
  padding: 10px;
  background-color: #eee;
  margin: 0px;
  width: 300px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
main section#views .view input[type='submit'] {
  width: 320px;
}
main section#views .view .checkbox {
  display: block;
}
main section#views .view input[type='checkbox'] {
  width: auto;
  display: inline-block;
  margin: 5px;
}
main section#views .view textarea {
  font-family: Helvetica, Arial, sans-serif;
  height: 100px;
}
main section#views .view #new-from-fb #fb-events label {
  font-size: 12px;
}
main section#views .view #new-from-fb #fb-events {
  margin-bottom: 10px;
}
#type-filter,
#profile,
#time-finder,
header nav #select,
header nav#main-menu li,
.event-controls {
  cursor: pointer;
}
