@import 'nib'

/*
 * Variables
 * ---------
 *
 *
 *
 * Colores
 *
 
whiteColor	= #FFF
lightColor	= #EEE
midColor		= #888
darkColor		= #202020
mainColor		= #F05
fbColor			= #3b5998
*/
/* 
 * Estilos generales
 * ------- ---------
 *
 * 
 *
 *  
 */
html
body
	height: 100%

body
	margin: 0
	background-color: #000//EEE /*#F7F7F7*/ /* EEE */
	font-family: "Arial"
	color: #FFF//000

section#view-controls
	margin-top: 32vh
	position: fixed

input#title
	font-size: 5vw
	font-weight: normal
	letter-spacing: -0.03em
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis
	width: 36vw
	padding-right: 0.03em /* Evitar corte letter-spacing negativo */
	outline: 0
	border: 0
	border-radius: 0
	background-color: inherit
	color: #FFF//000
	display: block
	text-align: right
	transition: color 200ms

input[type=text]::-ms-clear
	display: none
	width : 0
	height: 0

input[type=text]::-ms-reveal
	display: none
	width : 0
	height: 0

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	display: none

input#title::before
	content: ''

input#title:focus
	color: #CCC//555

/* = to x Animation
#more:before,
#more:after
	content: ''
	width: 20px
	height: 2px
	position: absolute
	right: 12px
	background-color: #AAA
	transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1),
				bottom 200ms cubic-bezier(0.4, 0, 0.2, 1)

#more:after
	bottom: 18px

#more:before
	bottom: 24px

section#view-controls.show #more:before
section#view-controls.show #more:after
	bottom: 21px
	transform: rotate(-45deg)
	transition: transform 200ms 200ms cubic-bezier(0.4, 0, 0.2, 1),
				bottom 200ms cubic-bezier(0.4, 0, 0.2, 1)

section#view-controls.show #more:after
	transform: rotate(45deg)
*/

h3
	font-weight: normal
	font-size: 2.5vmin
	letter-spacing: -0.03em
	margin: 0.3em 0 0.3em 0

/* Estilos estructurales */

#box
	display: table
	width: 100%
	height: 100%

#side
	display: table-cell
	vertical-align: top
	text-align: right

main
	display: table-cell
	width: 56vw


/* Estilos modulares */
		
/* Globales */
.at
	font-family: "Verdana"
		
/* Grupales */

#account
	width: 36vw
	position: fixed	
	bottom: 20vh
	
#account a.user-link
	float: right

#account img.user-picture
	width: 3em
	height: 3em
	border-radius: 50%
	position: relative
	//top: 0.7em
	margin-left: 0.5em

#account .user-userName
	font-size: 1.5em

#account .user-displayName
	color: #888

#account-controls
	position: fixed
	width: 36vw
	bottom: 16vh
	
#take
#more
	display: none

#start
	background-color: #000//FFF
	width: 82vh
	position: relative
	height: 82vh
	max-width: 54vw
	max-height: 54vw
	min-width: 30vw
	min-height: 30vw

#start a#logo-link
	display: block
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	cursor: default

#start #logo
	width: calc(66.608vw / 10)
	height: calc(90vw / 10)
	display: block

#start #logo-icon
	cursor: pointer

#start h1
	display: none

/* Action */
.post
	background-color: inherit// #F05 Truco de maquetación
	width: 82vh
	max-width: 54vw
	margin-bottom: 3vh
	min-width: 30vw
	position: relative

.post .media
	background-color: #000//F7F7F7 /* CCC */
	width: 100%
	height: 82vh
	max-width: 54vw
	max-height: 54vw
	min-width: 30vw
	min-height: 30vw
	position: relative

.post .media img
	width: 100%
	height: 100%
	display: block
	opacity: 0
	transition: opacity 200ms
	user-select: none
	// cursor: pointer

.post .media.loaded img
	opacity: 1

.post .media .preloader-animation
	width: 10%
	height: 10%
	border-radius: 50%
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	animation: preloader 750ms linear infinite // Infinite Genera parpadeo en chrome debug cambiar por otra cosa

.post .media.loaded .preloader-animation
	display: none

/* Action -> Info */

.info
	background-color: #000//FFF
	width: 100%
	height: 15vmin // Evaluar si sirve. Probar 12vmin
	min-height: 72px // 64px
	display: table
	table-layout: fixed

.info .author-picture,
.info .post-info,
.info .save-button
	display: table-cell
	vertical-align: middle

.info .author-picture
	width: 18%
	padding: 2.5%

.info .author-picture img
	display: block
	border-radius: 50%
	margin: 0 auto
	width: 100%

.info .post-info
	padding-left: 4% // 0.5em

.info h3.post-title
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis
	text-align: left

.info h3.post-title .author-name
	font-weight: bold

.info h3.post-title .author-hex-code
	content: ''
	display: inline-block
	background-color: #888
	border-radius: 50%
	width: 0.8em
	height: 0.8em
	margin: 0 0.3em 0 0

.info .post-time
	font-size: 1.75vmin
	color: #888
	// letter-spacing: -0.02em

.info .save-button
	width: 18%
	padding: 4%

.info a.save-post-link
	display: block
	border-radius: 50%

.info a.save-post-link .save
	display: block
	background-color: #555//CCC
	border: 2px solid #555
	border-radius: 50%
	width: 100%
	transition: background-color 200ms, border-color 200ms

.info a.save-post-link.saved .save
	background-color: #000//CCC
	border-color: #333

#end
	display: none
	
#end.show
	display: block

#end #endMessage
	text-align: center
	margin: 5vh 0 8vh 0
	color: #FFF//EEE

svg#svg-library
	display: none

/*

	
	V 3.0


*/

a
	color: inherit
	text-decoration: none

a:hover
	color: inherit

a
input
div // TODO: Evaluar elementos a los que se aplica
	-webkit-tap-highlight-color: transparent

/*
 * Estilos específicos
 * ------- -----------
 *
 *
 *
 * Cabecera
 *
 */

/*
 * Principal
 *
 */

/*
 * Controles
 */

/*section#options-side
	text-align: right
	width: 100%
*/
/*section#account-controls section#profile
	width: 100%
	display: table
	margin-bottom: 40px

section#account-controls section#profile img
section#account-controls section#profile h2
	display: table-cell
	vertical-align: middle
*/
/*section#account-controls section#profile h2.profile-name
	width: 100%
	margin: 0
	padding: 5px 10px 0 0
	font-size: 21px
	line-height: 24px
	overflow: hidden
	text-overflow: ellipsis
	font-weight: normal
	letter-spacing: -0.5px
*/

/*section#account-controls section#profile h2.profile-name .profile-firstname
	font-size: 24px
	color: blackColor*/

/*
 * Vista
 */

/*
 * Eventos
 */

aside section#events-controls .events-list.show-more
	overflow: none
	position: relative
	overflow-y: scroll
	overflow-x: hidden

aside section#events-controls .title
	font-size: 11px
	//margin: 10px 0

aside section#events-controls .events-title
	font-size: 14px

aside section#events-controls .event
	padding: 8px 0

aside section#events-controls .event .event-name.small
	font-size: 14px

aside section#events-controls .event .event-people
	font-size: 11px
	margin-left: 15px

aside section#events-controls .show-more
	text-align: center

/*
 * Controles flotantes
 */
/*
nav#view-menu
	transition: background-color 250ms linear
	width: 100%
	display: none
	text-align: center
	position: fixed
	bottom: 0
	z-index: 10

nav#view-menu .view-button
	display: table-cell
	height: 44px

nav#view-menu .view-button.first
nav#view-menu .view-button.middle
nav#view-menu .view-button.last
	width: 44px
	padding: 10px

nav#view-menu .view-button .button
	background-image: url('/images/sprite.svg')
	background-size: auto cover
	width: 44px
	height: 44px
	margin: 0 auto
	cursor: pointer
	border-radius: 100%
	background-color: rgba(255,255,255,0.5)

nav#view-menu #button-options
	background-position: 0px
nav#view-menu #button-posts
	background-position: 176px
nav#view-menu #button-camera
	background-position: 132px
nav#view-menu #button-events
	background-position: 88px
nav#view-menu #button-search
	background-position: 44px
*/

/*
 * Pie
 */
footer
	position: fixed
	width: 36vw
	bottom: 5vh
	font-size: 12px

footer #brand-url
	font-family: Tahoma
	font-size: 2em
	margin: 1em 0

footer #brand
	margin: 5px 0
	
/*
 * Vistas de la aplicación
 */
 
// NEW-POST

input#media-loader
	visibility: hidden
	position: absolute
	display: none

section#new-post
	display: none

section#new-post canvas#new-media-preview
	width: 100%

section#new-post canvas#new-media-preview
	width: 100%
	height: 100vw
	display: block

section#new-post #new-post-controls
	width: 100%
	height: 44px
	display: table
	margin-bottom: 5px

section#new-post #new-post-controls #event-name-input
section#new-post #new-post-controls #share-new-post
section#new-post #new-post-controls #send-post
	display: table-cell
	vertical-align: middle

section#new-post #new-post-controls #event-name-input
	display: table
	width: 100%

section#new-post #new-post-controls #event-name-input *
	font-size: 17px
	letter-spacing: -0.5px

section#new-post #new-post-controls #event-name-input span.at-simbol
section#new-post #new-post-controls #event-name-input input#new-event-name
	display: table-cell
	vertical-align: middle
	height: 24px

section#new-post #new-post-controls #event-name-input span.at-simbol
	// text-align: right
	padding: 10px 0 10px 10px
	width: 1px

section#new-post #new-post-controls #event-name-input input#new-event-name
	width: 95%
	border: none
	padding: 10px 0
	margin: 0
	display: block
	outline: none
	border-radius: 0

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

section#new-post #new-post-controls #event-name-input input#new-event-name
	+placeholder()
		color: blackColor
		border-bottom: 1px solid whiteColor

section#new-post #new-post-controls #share-new-post
	width: 44px
	height: 44px

section#new-post #new-post-controls #share-new-post .share
	width: 24px
	height: 24px
	margin: 10px
	display: block

section#new-post #new-post-controls #share-new-post .share #change-color
	fill: midColor

section#new-post #new-post-controls #share-new-post .share.selected #change-color 
	fill: fbColor
	
section#new-post #new-post-controls #send-post
	text-align: center
	text-transform: uppercase
	font-weight: bold
	font-size: 11px
	padding: 2px 15px 0 15px

/*
 * Control de vistas
 */

// .config-view

body.config-view #box #new-post
body.config-view #box #post-list
	display: none
body.config-view #box 
	display: block

// .posts-view

body.posts-view #box 
body.posts-view #box #new-post
	display: none
body.posts-view #box #post-list
	display: block

// .new-post-view

body.new-post-view #box #side
body.new-post-view #box #post-list
	display: none
body.new-post-view #box #new-post
	display: block

// .events-view

body.events-view #box #side
body.events-view #box #new-post
body.events-view #box #post-list
	display: none

/*
 * Responsive
 */
@media screen and (max-width: 1000px) , screen and (max-height: 700px)
	h3
		font-size: 16px
		transition: font-size 100ms
		margin: 0.3em 0 0 0

	.info .post-time
		font-size: 12px

@media screen and (min-width: 481px)
	@keyframes preloader
		0%
			box-shadow: 0 0 0 0 rgba(255,255,255,0)
		50%
			box-shadow: 0 0 0 1vw rgba(255,255,255,0.1)
		100%
			box-shadow: 0 0 0 1vw rgba(255,255,255,0.05)

@media screen and (max-width: 480px)
	aside
		z-index: 1
		bottom: 0
		margin-top: 0
		transition: height 200ms cubic-bezier(0.4, 0, 0.2, 1)
		box-shadow: 0 -4px 16px rgba(0,0,0,0.1)
		height: 44px
		position: absolute
		background-color: #000//FFF
		overflow: hidden
	
	aside.show
		height: 176px
	
	aside section#view-controls
	aside section#account
	aside section#account-controls
	aside footer
		margin: 0
		position: static
		text-align: left
		width: 100vw
	
	#take
		width: 44px
		height: 44px
		position: absolute
		right: 0
		top: 0
		display: block

	#take:before
		content: ''
		width: 60%
		height: 60%
		background-color: #F05
		position: absolute
		margin: 20%
		border-radius: 50%
		right: 0
		top: 0
	
	#more
		width: 44px
		height: 44px
		position: absolute
		left: 0
		top: 0
		display: block

	#more:before
		content: ''
		width: 12px
		height: 12px
		position: absolute
		top: 15px
		right: 10px
		border-top: 4px solid #333
		border-left: 4px solid #333
		transform: translate(-20%, 20%) rotate(45deg)
		transition: transform 200ms

	#more.back:before
		transform: rotate(-45deg)

	input#title
		font-size: 1em
		display: block
		margin: 0
		height: 44px
		padding: 0 44px
		-webkit-appearance: none
		width: 100vw
		font-family: 'Verdana'
		text-align: left

	/*#account img.user-picture
		margin: 0.375em
		position: static*/

	h3
		font-size: 4.5vw
		transition: font-size 100ms
	
	.info .author-picture
		width: 20%
		padding: 2.5%

	#box
		display: block /* Mejor control de la barra de scroll */

	main
		overflow-y: auto
		overflow-x: hidden
		-webkit-overflow-scrolling: touch
		height: calc(100vh - 44px)
		display: block
		//transition: height 200ms
	
	main,
	.post,
	.post .media,
	#start
		width: 100%

	#start #logo
		min-width: 66.608px
		min-height: 90px

	.post
		max-width: inherit
	
	@keyframes preloader
		0%
			box-shadow: 0 0 0 0 rgba(255,255,255,0)
		50%
			box-shadow: 0 0 0 3vw rgba(255,255,255,0.1)
		100%
			box-shadow: 0 0 0 3vw rgba(255,255,255,0.05)

	.post .media,
	#start
		height: 100vw
		max-width: inherit
		max-height: inherit

	/*.info .author-name
		margin-right: 2px*/

	.info h3.post-title .author-name::before
		width: 3.5vw
		height: 3.5vw
		margin: 0 1vw 0 0

	.info .post-info
		padding-left: 2% // 0.5em
		
	.info .post-time
		font-size: 3.5vw
		
@media screen and (max-width: 360px)
	h3
		font-size: 16px
	
	.info .post-time
		font-size: 12px

::-webkit-scrollbar 
	width: 20px

::-webkit-scrollbar-track
	background: #000

::-webkit-scrollbar-thumb 
	background: #222

::-webkit-scrollbar-thumb:window-inactive
	background: #111
