/* 
 * Estilos generales
 * ------- ---------
 */
body {
  background-color: #eaeaee;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  color: #000;
}
/*
 * Estilos específicos: /login
 * ------- -----------
 */
/*
main#start
	background-color: #333
	margin: 0px
	width: 100%
	height: 100%

main#start section#access
	background-color: #FFF
	width: 300px
	height: 500px
	text-align: center
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between

main#start section#access #logo
	background-image: url('/images/sprite.png?v=1005')
	width: 210px
	height: 90px
	background-size: 210px
	background-repeat: no-repeat
	margin: 20px

main#start section#access #logo h1
	display: none

main#start section#access #methods #FB
	background-color: #3B5998
	color: #FFF
	font-weight: bold
	width: 230px
	margin: 20px
	padding: 10px 0
	text-decoration: none
	display: block
	*/
/*
 * Estilos específicos: /index
 * ------- -----------
 */
/*
 * Cabecera
 */
header {
  background-color: #fff;
  width: 100%;
  padding: 5px 0;
  position: fixed;
  z-index: 10;
  top: 0;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.05);
  box-shadow: 0 2px 0 rgba(0,0,0,0.05);
}
header #title a {
  background-image: url("/images/sprite.png?v=1005");
  background-repeat: no-repeat;
  -webkit-background-size: 110px;
  -moz-background-size: 110px;
  background-size: 110px;
  width: 110px;
  height: 45px;
  display: block;
  margin: 0 auto;
}
header #title a h1 {
  display: none;
}
/*
 * Principal
 */
main {
  margin: 0 auto;
  padding-top: 55px;
  width: 100%;
  max-width: 970px;
  display: table;
  height: 100vh;
}
aside,
section#view {
  display: table-cell;
  vertical-align: top;
}
aside {
  width: 200px;
  padding: 10px;
}
aside #people-side,
aside #events-side {
  width: inherit;
  display: inline-block;
  position: fixed;
}
/*
 * Controles
 */
section#people-side {
  text-align: right;
}
section#people-controls section#profile {
  background-color: #fff;
  padding: 5px;
  width: 100px;
  height: 170px;
  text-align: left;
  display: inline-block;
}
section#people-controls section#profile img {
  background-color: #eee;
  width: 100px;
  height: 100px;
}
section#people-controls section#profile h2.profile-name {
  margin: 3px 5px 0 2px;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-weight: normal;
}
section#people-controls section#profile h2.profile-name .profile-firstname {
  font-size: 13px;
  font-weight: bold;
}
section#people-controls section#profile h2.profile-name .profile-lastname {
  font-size: 12px;
  font-weight: normal;
}
section#people-controls section#friends {
  margin-top: 20px;
}
section#people-controls section#friends .friend {
  background-color: rgba(255,255,255,0.5);
  font-size: 12px;
  color: #999;
  width: 90px;
  height: 150px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}
section#people-controls section#friends .friend:before {
  content: '+';
  font-size: 50px;
  display: block;
  margin-top: 30px;
  color: rgba(0,0,0,0.1);
}
/*
 * Vista
 */
section#view {
  background-color: rgba(255,255,255,0);
  padding-bottom: 50px;
  max-width: 530px;
  height: 100%;
}
section#view #view-wrapper {
  padding: 10px 0;
}
section#view section#post-list .post {
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  position: relative;
}
section#view section#post-list .post div.media {
  font-size: 0;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  transition: background-color 500ms;
}
section#view section#post-list .post div.animate {
  background-color: #fff;
}
section#view section#post-list .post div.media img {
  width: 100%;
}
section#view section#post-list .post div.media img.media {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}
section#view section#post-list .post .bottom {
  background-color: #fff;
  width: 100%;
  height: 30px;
  display: table;
}
section#view section#post-list .post .bottom .info {
  display: table;
  width: 100%;
  vertical-align: top;
}
section#view section#post-list .post .bottom .info .info-wrapper {
  padding: 5px;
  padding-right: 5px;
}
section#view section#post-list .post:after {
  content: '';
  width: 97%;
  margin: 0 1.5%;
  background-color: rgba(0,0,0,0.05);
  height: 2px;
  position: absolute;
  z-index: -1;
}
section#view section#post-list .post .bottom .author-img,
section#view section#post-list .post .bottom .post-detail {
  display: table-cell;
  vertical-align: top;
  font-size: 0px;
}
section#view section#post-list .post .bottom .author-img img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: #eee;
}
section#view section#post-list .post .bottom .post-detail {
  width: 100%;
}
/*
section#view section#post-list .post .bottom .post-detail .post-data
	display: inline-block
	//width: 60%
	//max-width: 80%
	float: left

section#view section#post-list .post .bottom .post-detail .post-data .author-name
	font-size: 14px

section#view section#post-list .post .bottom .post-detail .post-data .author-name .author-lastName
	display: none

section#view section#post-list .post .bottom .post-detail .event-data
	display: inline-block
	//width: 40%
	text-align: right
	float: right
	max-width: 70%

section#view section#post-list .post .bottom .post-detail .event-data .event-name
	font-size: 16px

section#view section#post-list .post .bottom .post-detail .pri
	line-height: 18px
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden

section#view section#post-list .post .bottom .post-detail .sub
	font-size: 11px
	color: #999

section#view section#post-list .post .bottom .post-detail .sub:first-letter
	text-transform: uppercase
*/
section#view section#post-list .post .bottom .post-detail .post-title {
  font-size: 16px;
  color: #333;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 20px;
}
section#view section#post-list .post .bottom .post-detail .post-title .author-name .author-lastName {
  display: none;
}
section#view section#post-list .post .bottom .post-detail .post-title .event-posted {
  color: #f05;
  max-width: 70%;
}
section#view section#post-list .post .bottom .post-detail .post-title .event-posted .at-simbol {
  font-family: Verdana, Arial, sans-serif;
  letter-spacing: -1px;
}
section#view section#post-list .post .bottom .post-detail .sub-info {
  font-size: 11px;
  color: #999;
}
section#view section#post-list .post .bottom .post-detail .sub-info .time:first-letter {
  text-transform: uppercase;
}
section#view section#post-list .post .bottom .post-detail .sub-info .time {
  display: inline-block;
}
section#view section#post-list .post .bottom .post-detail .sub-info .separator {
  display: inline-block;
  margin: 0 5px;
}
section#view section#post-list .post .bottom .post-detail .sub-info .friends {
  display: inline-block;
}
section#view section#post-list .post .bottom .like object {
  width: 50px;
  height: 50px;
}
section#view section#post-list .post .bottom .like {
  width: 50px;
  background-color: #fafafa;
  border-left: 1px solid #eee;
  display: table-cell;
  vertical-align: bottom;
  font-size: 0;
}
section#view section#post-list .post .bottom .like .like-svg {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
section#view section#post-list .post .bottom .like .selected .like-svg #inner {
  fill: #f05;
}
/*
 * Eventos
 */
aside section#events-controls {
  background: #fff;
  padding: 5px 0;
}
aside section#events-controls .search-box,
aside section#events-controls .promoted,
aside section#events-controls .events-list,
aside section#events-controls .show-more {
  margin: 15px 10px;
}
aside section#events-controls .search-box {
  margin-top: 10px;
}
aside section#events-controls .search-box input {
  background: #eee;
  color: #999;
  width: 160px;
  height: 10px;
  font-size: 14px;
  font-style: italic;
  padding: 10px;
  margin: 0;
  border: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  outline: none;
}
aside section#events-controls .promoted .promoted-title {
  font-size: 10px;
  color: #ccc;
  text-transform: uppercase;
}
aside section#events-controls .event {
  margin: 5px 0;
}
aside section#events-controls .event .event-name {
  font-size: 15px;
  color: #f05;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
aside section#events-controls .event .event-name .at-simbol {
  font-family: Verdana, Arial, sans-serif;
}
aside section#events-controls .event .event-name.small {
  font-size: 14px;
}
aside section#events-controls .event .event-people {
  font-size: 11px;
  color: #999;
  margin-left: 15px;
}
aside section#events-controls .promoted:after,
aside section#events-controls .events-list:after {
  content: '';
  display: block;
  background: #eee;
  height: 1px;
  margin-top: 15px;
}
aside section#events-controls .show-more {
  text-align: center;
}
/*
 * Controles flotantes
 */
section#float-controls {
  background-color: #707077;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  width: 100%;
  height: 32px;
  color: rgba(255,255,255,0.9);
  padding: 6px 0 7px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
}
section#float-controls #main-controls {
  width: 530px;
  margin: 0 auto;
}
section#float-controls #main-controls .button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
section#float-controls #main-controls .button.control-switch {
  width: 64px;
  height: 32px;
  background: rgba(255,255,255,0.7);
  -webkit-border-radius: 16px;
  border-radius: 16px;
  padding: 0 5px;
  position: relative;
}
section#float-controls #main-controls .button.control-switch .knob {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,0.9);
  -webkit-border-radius: 12px;
  border-radius: 12px;
  position: absolute;
  top: 4px;
  left: 45px;
}
section#float-controls #main-controls #camera,
#send-post {
  background: rgba(0,0,0,0.3);
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  float: right;
}
/*
 * New post
 */
section#new-post {
  display: none;
}
section#new-post input#media-loader {
  display: none;
}
section#new-post canvas#new-media-preview {
  width: 100%;
}
body.float-view main #controls,
body.float-view main #events,
body.float-view main #view-controls,
body.float-view main #post-list,
body.float-view #float-controls {
  display: none;
}
body.float-view section#new-post {
  display: block;
}
section#new-post #positionMap img {
  width: 100%;
}
/*
 * Pie
 */
footer {
  margin: 10px 5px;
  font-size: 12px;
  color: #999;
}
footer #brand {
  margin: 5px 0;
}
/*
 * Responsive
 */
@media (max-width: 779px) {
  main {
    min-width: 650px;
  }
  aside#first {
    width: 110px;
  }
}
@media (max-width: 669px) {
  main {
    min-width: 290px;
  }
  aside#first,
  aside#second {
    display: none;
  }
  section#view {
    display: block;
    margin: 0 auto;
  }
  section#view #view-wrapper {
    padding: 0;
  }
  section#float-controls {
    background-color: #30303a;
  }
}
@media (max-width: 329px) {
  main {
    padding-top: 45px;
  }
  header #title a {
    -webkit-background-size: 85px;
    -moz-background-size: 85px;
    background-size: 85px;
    width: 85px;
    height: 35px;
  }
  section#view #view-wrapper {
    padding: 0;
  }
  section#view section#post-list .post .bottom .post-detail .post-title {
    letter-spacing: -0.5px;
  }
  section#view section#post-list .post .bottom .post-detail .sub-info {
    letter-spacing: -0.5px;
  }
}
/*
@media (max-width: 969px) 
	main
		width: 870px // -100
	section#view
		width: 400px // -100
	section#view section#post-list .post .media
	section#view section#post-list .post .media img
		width: 400px // -100
		height: 400px // -100
	section#view section#post-list .post .info
		width: 380px // -100
	section#view section#post-list .post:after 
		width: 390px // -100
	section#view section#post-list .post .info .post-data
		width: 225px // -50
	section#view section#post-list .post .info .event-data
		width: 115px // -50
	section#float-footer #main-controls
		width: 430px // -100

@media (max-width: 869px) 
	main
		width: 720px // -150
	section#view
		width: 300px // -100
	section#view section#post-list .post .media
	section#view section#post-list .post .media img
		width: 300px // -100
		height: 300px // -100
	section#view section#post-list .post .info
		width: 280px // -100
	section#view section#post-list .post:after 
		width: 290px // -100
	section#view section#post-list .post .info .post-data
		width: 175px // -50
	section#view section#post-list .post .info .event-data
		width: 55px // -50
	aside#controls
		width: 180px // Especial -20
	aside#events
		width: 180px  // Especial -20
	aside#events section#events-controls .search-box input
		width: 140px
	section#view
		padding: 15px 10px // Especial -5
	section#float-footer #main-controls
		width: 320px // -100

@media (max-width: 719px)
	main
		width: 630px
	aside#controls
		width: 110px
		position: static
		display: inline-block
	aside#events
		width: 160px
		position: static
		display: inline-block
	section#view
		display: inline-block
	aside#events section#events-controls .search-box input
		width: 120px
	section#float-footer #main-controls
		width: inherit

/* Anchio 100% Necesesita js
@media (max-width: 629px)
	main
		width: 100%
	aside#controls
		display: none
	aside#events
		display: none
	section#view
		width: initial
		display: block
		max-width: 500px
		margin: 0 auto
	section#view section#post-list .post .media
	section#view section#post-list .post .media img
		width: 100%
	section#view section#post-list .post .info
		width: initial // -100
	section#view section#post-list .post:after 
		width: 230px // -100
	section#view section#post-list .post .info .post-data
		width: 45px // -50
	section#view section#post-list .post .info .event-data
		width: 35px // -50
*/
/*
@media (max-width: 629px)
	main
		width: 460px
	aside#controls
		display: none
	aside#events
		display: none
	section#view
		width: 440px
	section#view section#post-list .post .media
	section#view section#post-list .post .media img
		width: 440px
		height: 440px
	section#view section#post-list .post .info
		width: 420px // -100
	section#view section#post-list .post:after 
		width: 430px // -100
	section#view section#post-list .post .info .post-data
		width: 245px // -50
	section#view section#post-list .post .info .event-data
		width: 135px // -50
	/*aside#events
		width: 150px
	aside#events section#events-controls .search-box input
		width: 110px*/
/*
@media (max-width: 459px)
	main
		width: 320px
		padding-top: 40px
	header #title a
		width: 70px
		height: 30px
		background-size: 70px
	aside#events
		display: none
	section#view
		width: 300px
	section#view section#post-list .post .media
	section#view section#post-list .post .media img
		width: 300px
		height: 300px
	section#view section#post-list .post .info
		width: 280px // -100
	section#view section#post-list .post:after 
		width: 290px // -100
	section#view section#post-list .post .info .post-data
		width: 175px // -50
	section#view section#post-list .post .info .event-data
		width: 65px // -50
	aside#events
		width: 150px
	aside#events section#events-controls .search-box input
		width: 110px
	section#new-post
		padding-top: 45px
*/
