/* 
 * Estilos generales
 * ------- ---------
 */
body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  color: #00b7ff;
}
input {
  border: 1px solid #ccc;
}
/*
 * Estilos específicos: /login
 * ------- -----------
 */
main#start {
  background-color: #333;
  margin: 0px;
  width: 100%;
  height: 100%;
}
main#start section#access {
  background-color: #fff;
  width: 300px;
  height: 500px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
main#start section#access #logo {
  background-image: url("/images/sprite.png?v=1005");
  width: 210px;
  height: 90px;
  -webkit-background-size: 210px;
  -moz-background-size: 210px;
  background-size: 210px;
  background-repeat: no-repeat;
  margin: 20px;
}
main#start section#access #logo h1 {
  display: none;
}
main#start section#access #methods #FB {
  background-color: #3b5998;
  color: #fff;
  font-weight: bold;
  width: 230px;
  margin: 20px;
  padding: 10px 0;
  text-decoration: none;
  display: block;
}
/*
 * Estilos específicos: /index
 * ------- -----------
 */
/*
 * Cabecera
 */
header {
  background-color: #fff;
  width: 100%;
  min-width: 995px;
  position: fixed;
  top: 0;
  z-index: 1;
}
header #header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 20px;
  height: 60px;
}
header #header #title {
  margin-left: 5px;
}
header #header #title a {
  background-image: url("/images/sprite.png?v=1005");
  background-repeat: no-repeat;
  -webkit-background-size: 105px;
  -moz-background-size: 105px;
  background-size: 105px;
  width: 105px;
  height: 45px;
  display: block;
}
header #header #title a h1 {
  display: none;
}
header #header #search-box {
  margin-left: 21px;
}
header #header #search-box input {
  color: #555;
  width: 358px;
  height: 19px;
  font-size: 14px;
  padding: 3px 5px;
  border: 1px solid #eee;
  font-weight: normal;
}
header #header nav {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
}
header #header nav:before {
  content: '';
  border: 1px solid #aaa;
  width: 20px;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
  border-bottom: none;
  border-right: none;
  vertical-align: bottom;
  margin-top: 12px;
}
header #header nav select {
  font-size: 14px;
  color: #333;
  border: 1px solid #eee;
  margin: 0px;
  vertical-align: top;
  height: 27px;
}
/*
 * Cuerpo
 */
main {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 60px 20px 0 20px;
}
/*
 * Cuerpo / Lado
 */
main aside {
  background-color: #eee;
  padding: 15px 10px 15px 0;
  width: 110px;
  text-align: right;
  position: fixed;
}
/*
 * Cuerpo / Lado / Perfil
 */
main aside section#profile img {
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
}
main aside section#profile h1 {
  font-size: 12px;
  font-weight: normal;
  margin: 5px;
}
/*
 * Cuerpo / Lado / Filtro de tipo
 */
main aside section#type-filter {
  margin: 50px 5px;
}
main aside section#type-filter ul {
  margin: 0;
  padding: 0;
}
main aside section#type-filter li {
  color: #555;
  list-style: none;
  margin: 10px 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
main aside section#type-filter li:hover {
  color: #000;
}
main aside section#type-filter li:after {
  content: '';
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 2px #fff;
  box-shadow: 0 0 0 2px #fff;
  vertical-align: middle;
}
main aside section#type-filter li.all:after {
  background-color: #ddd;
}
main aside section#type-filter li.con:after {
  background-color: #f05;
}
main aside section#type-filter li.par:after {
  background-color: #70f;
}
main aside section#type-filter li.cul:after {
  background-color: #0a9;
}
main aside section#type-filter li.div:after {
  background-color: #f90;
}
main aside section#type-filter li:hover:after {
  background-image: -webkit-radial-gradient(rgba(255,255,255,0.9) 35%, rgba(255,255,255,0) 40%);
  background-image: -moz-radial-gradient(rgba(255,255,255,0.9) 35%, rgba(255,255,255,0) 40%);
  background-image: -o-radial-gradient(rgba(255,255,255,0.9) 35%, rgba(255,255,255,0) 40%);
  background-image: -ms-radial-gradient(rgba(255,255,255,0.9) 35%, rgba(255,255,255,0) 40%);
  background-image: radial-gradient(rgba(255,255,255,0.9) 35%, rgba(255,255,255,0) 40%);
}
/*
 * Cuerpo / Lado / Buscador por tiempo
 */
main aside section#time-finder {
  margin: 60px 5px 20px;
}
main aside section#time-finder ul {
  margin: 0;
  padding: 0;
}
main aside section#time-finder li {
  list-style: none;
  height: 20px;
  color: #999;
}
main aside section#time-finder li:hover {
  color: #000;
}
/*
 * Cuerpo / Lista
 */
main section#list {
  width: 370px;
  min-width: 370px;
  padding: 15px 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #aaa;
  margin-left: 120px;
}
main section#list .event {
  background-color: #fff;
  width: 370px;
  height: 215px;
  margin-bottom: 10px;
  padding: 10px 0;
}
main section#list .event:after {
  content: '';
  position: relative;
  bottom: 215px;
  left: 370px;
  border: none;
  border-top: 1px solid #aaa;
  display: inline-block;
  width: 10px;
  vertical-align: top;
}
main section#list .event .event-image {
  background-color: #eee;
  width: 350px;
  height: 130px;
  margin: 0 10px 10px;
}
main section#list .event .event-data {
  width: 350px;
  height: 45px;
  margin: 10px;
}
main section#list .event .event-controls {
  border-top: 1px solid #eee;
  height: 29px;
}
/*
 * Cuerpo / Detalle
 */
main section#detail {
  background-color: #333;
  min-width: 420px;
  margin-left: 20px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#type-filter,
#profile,
#time-finder,
header nav select {
  cursor: pointer;
}
