@import 'nib'

/* 
 * Estilos generales
 * ------- ---------
 */
body
	//background-color: #EAEAEE // Cálido: #EEEEE7, Original: #DDE0EA
	//background-color: #F3F3F5 // NEW MAC
	background-color: #FFF
	color: #333
	font-family: Arial, sans-serif
	font-size: 14px
	margin: 0
	padding: 0

html
body
	width: 100%
	height: 100%
	
a
	color: inherit
	text-decoration: none

a:hover
	color: inherit

/*
 * Estilos específicos: /login
 * ------- -----------
 */

/*
main#start
	background-color: #333
	margin: 0px
	width: 100%
	height: 100%

main#start section#access
	background-color: #FFF
	width: 300px
	height: 500px
	text-align: center
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between

main#start section#access #logo
	background-image: url('/images/sprite.png?v=1005')
	width: 210px
	height: 90px
	background-size: 210px
	background-repeat: no-repeat
	margin: 20px

main#start section#access #logo h1
	display: none

main#start section#access #methods #FB
	background-color: #3B5998
	color: #FFF
	font-weight: bold
	width: 230px
	margin: 20px
	padding: 10px 0
	text-decoration: none
	display: block
	*/
/*
 * Estilos específicos: /index
 * ------- -----------
 */

/*
 * Cabecera
 */
header
	background-color: #FFF
	width: 100%
	padding: 10px 0
	position: fixed
	//position: relative
	z-index: 10
	top: 0
	//box-shadow: 0 2px 0 rgba(0,0,0,0.05) // NEWLOGO // RE-FLAT

header #title a
	background-image: url('/images/juaku.svg?v=1005')
	background-repeat: no-repeat
	background-size: 125px 45px
	width: 125px
	height: 45px
	display: block
	margin: 0 auto

header #title a h1
	display: none

/*
 * Principal
 */
main
	width: 100%
	top: 65px
	//bottom: 44px
	bottom: 0px
	position: absolute
	overflow: auto
	overflow-x: hidden
	-webkit-overflow-scrolling: touch

//main#main
	//background: #F3F3F5
	//bottom: 60px
/*
@css {
	main#blurred-back {
		//-webkit-filter: blur(5px);
		//-webkit-filter: blur(1px) brightness(1.1) contrast(3.2) hue-rotate(60deg) invert(0.1) saturate(10) sepia(0.1);
		-webkit-filter:	blur(5px) brightness(1.1) contrast(3.2) saturate(0);
		z-index: -1;
		//overflow: hidden
	}
}*/

main #wrapper
	width: 100%
	max-width: 940px
	margin: 0 auto
	display: table

aside
section#view
	display: table-cell
	vertical-align: top

aside
	width: 200px
	padding: 10px

aside #people-side
aside #events-side
	width: inherit
	display: inline-block
	position: fixed
	top: 65px // Android Web Browser

/*
 * Controles
 */
section#people-side
	text-align: right

section#people-controls section#profile
	background-color: #FFF
	//padding: 5px
	width: 100px
	height: 170px
	text-align: left
	display: inline-block
	//text-align: right

section#people-controls section#profile img
	background-color: #EEE
	width: 100px
	height: 100px

section#people-controls section#profile h2.profile-name
	margin: 5px
	font-size: 14px
	line-height: 14px
	overflow: hidden
	text-overflow: ellipsis
	font-weight: normal

section#people-controls section#profile h2.profile-name .profile-firstname
	font-size: 13px
	font-weight: bold

section#people-controls section#profile h2.profile-name .profile-lastname
	font-size: 12px
	font-weight: normal

/*
section#people-controls section#friends
	margin-top: 20px
	display: inline-block

section#people-controls section#friends .friend
	background-color: rgba(255, 255, 255, 0.5)
	font-size: 12px
	color: #999
	width: 90px
	height 150px
	display: inline-block
	margin-bottom: 10px
	text-align: center
	padding: 10px

section#people-controls section#friends .friend:before
	content: '+'
	font-size: 50px
	display: block
	margin-top: 30px
	color: rgba(0,0,0,0.1)
*/

/*
 * Vista
 */

section#view
	background-color: #F3F3F5 // NEWLOGO
	padding-bottom: 50px
	//outline: #FFF solid 1px // NEWLOGO
	max-width: 530px
	height: 100%
	/*padding: 10px 0 // NEWLOGO*/
	position: relative // MAC X Scroll
	z-index: 1 // MAC X Scroll
	//transform: translate3d(0,0,0) //TODO: evitar para Android no se requiere en iPhone 4
/*section#view #view-wrapper
	padding: 10px 0 // NEWLOGO*/

section#view section#post-list .post
	margin-bottom: 20px // NEWLOGO
	//box-shadow: 0 0 10px rgba(0,0,0,0.05) NEW MAC
	//position: relative

section#view section#post-list .post div.media
	//font-size: 0
	position: relative // Muestra espacio de img
	//background-color: rgba(255,255,255,0)
	//transition: background-color 500ms
	//background-image: url('/images/load.gif')
	//background-repeat: no-repeat
	//background-position: 50% 50%

/*section#view section#post-list .post div.media.loaded
	animation: none*/

/*section#view section#post-list .post div.animate
	background-color: rgba(255,255,255,1)*/

section#view section#post-list .post div.media img
	width: 100%
	display: block // En lugar de font-size: 0;
	//max-width: 500px // NEWLOGO
	//max-height: 500px // Error: Si es que IMG no es cuadrada por algún motivo. // NEWLOGO

section#view section#post-list .post div.media img.media // Muestra espacio de img
	position: absolute
	top: 0
	left: 0
	opacity: 0
	//transition: opacity 500ms linear
	//transition: opacity 1000ms //TODO: Fantasmas en Android e IE
	
section#view section#post-list .post div.media img.media.show
	//opacity: 1
	animation: show-img 500ms linear
	animation-fill-mode: forwards

/*section#view section#post-list .post div.media img.media.raw // Aparece sin animación. Android Web Browser
	transition: none
*/

section#view section#post-list .post div.media .preloader
	width: 30px
	height: 30px
	border-radius: 30px
	position: absolute
	top: 50%
	left: 50%
	margin: -15px
	animation: preloader 750ms linear infinite // Infinite Genera parpadeo en chrome debug cambiar por otra cosa

@keyframes preloader
	0%
		box-shadow: 0 0 0 10px rgba(0,0,0,0.01)
	50%
		box-shadow: 0 0 0 10px rgba(0,0,0,0.05)
	100%
		box-shadow: 0 0 0 10px rgba(0,0,0,0.01)

@keyframes show-img
	0%
		opacity: 0
	100%
		opacity: 1

section#view section#post-list .post .bottom
	background-color: #FFF
	width: 100%
	height: 30px
	//padding: 10px
	display: table
	//font-size: 0px // Reemplazado por display: block; img autor
	table-layout: fixed // Andorid

section#view section#post-list .post .bottom .info
	//display: table
	display: table-cell
	//width: 100%
	//width: 90px
	vertical-align: top
	//padding: 5px
	//background: #0FF //A
	
section#view section#post-list .post .bottom .info .info-wrapper
	display: table
	//padding: 5px
	//padding-right: 5px
	width: 100%
	//background: #F00 //A
	table-layout: fixed // Android

/*section#view section#post-list .post:after  //RE-FLAT
	content: ''
	width: 97% // NEWLOGO
	margin: 0 1.5% // NEWLOGO
	background-color: rgba(0,0,0,0.05)  // NEWLOGO
	height: 2px // NEWLOGO
	position: absolute
	z-index: -1*/

section#view section#post-list .post .bottom .author-img
section#view section#post-list .post .bottom .post-detail
	vertical-align: top
	
//	font-size: 0px

section#view section#post-list .post .bottom .author-img
	display: table-cell
	width: 55px // Android
	//background: #F0F //A

section#view section#post-list .post .bottom .author-img img
	width: 55px
	height: 55px
	//margin-right: 5px
	background-color: #FFF //#EEE
	display: block //En lugar de font-size: 0;

section#view section#post-list .post .bottom .post-detail
	display: table
	//display: table-cell
	table-layout: fixed
	width: 100%
	padding: 6px 0 5px 0
	letter-spacing: -0.5px
	//text-align: center
	//width: 215px
	//min-width: 215px
	//background: #0F0 //A
	
/*
section#view section#post-list .post .bottom .post-detail .post-data
	display: inline-block
	//width: 60%
	//max-width: 80%
	float: left

section#view section#post-list .post .bottom .post-detail .post-data .author-name
	font-size: 14px

section#view section#post-list .post .bottom .post-detail .post-data .author-name .author-lastName
	display: none

section#view section#post-list .post .bottom .post-detail .event-data
	display: inline-block
	//width: 40%
	text-align: right
	float: right
	max-width: 70%

section#view section#post-list .post .bottom .post-detail .event-data .event-name
	font-size: 16px

section#view section#post-list .post .bottom .post-detail .pri
	line-height: 18px
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden

section#view section#post-list .post .bottom .post-detail .sub
	font-size: 11px
	color: #999

section#view section#post-list .post .bottom .post-detail .sub:first-letter
	text-transform: uppercase
*/

section#view section#post-list .post .bottom .post-detail .post-title
section#view section#post-list .post .bottom .post-detail .sub-info
	padding-left: 10px
	padding-right: 5px

section#view section#post-list .post .bottom .post-detail .post-title
	font-size: 18px
	color: #F05
	//width: 0
	//display: table-cell
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis
	margin-top: -1px;
	//padding-bottom: 1px
	//margin-top: 2px
	//background: #00F //A
	
//section#view section#post-list .post .bottom .post-detail .post-title .author-name
//	display: inline-block

section#view section#post-list .post .bottom .post-detail .post-title .author-name
	color: #555
	font-size: 16px
	font-weight: bold
	
section#view section#post-list .post .bottom .post-detail .post-title .author-name .author-lastName
	display: none

section#view section#post-list .post .bottom .post-detail .post-title .event-posted
	//font-family: Tahoma, Arial, sans-serif
	//display: inline-block
	//color: #F05
	max-width: 70%
	//letter-spacing: -0.5px

section#view section#post-list .post .bottom .post-detail .post-title .event-posted .at-simbol
	font-family: Verdana, Arial, sans-serif
	letter-spacing: -1px

section#view section#post-list .post .bottom .post-detail .sub-info
	font-size: 12px
	color: #AAA
	margin-top: 5px
	//margin-top: 2px
	//background: #FF0 //A


section#view section#post-list .post .bottom .post-detail .sub-info .time
	display: inline-block	
	
/*section#view section#post-list .post .bottom .post-detail .sub-info .time::first-letter
	text-transform: uppercase
*/

section#view section#post-list .post .bottom .post-detail .sub-info .separator
	display: inline-block
	margin: 0 5px

section#view section#post-list .post .bottom .post-detail .sub-info .friends
	display: inline-block

section#view section#post-list .post .bottom .like object // Para que no se corte el texto
	width: 55px
	height: 55px

section#view section#post-list .post .bottom .like
	width: 55px // Firefox, Android Browser
	//height: 50px
	//background-color: #FAFAFA
	//background-color: #FAFAFA
	//border-left: 1px solid #EEE //RE-FLAT
	//border-left: 1px solid #F5F5F5
	display: table-cell
	vertical-align: bottom
	//font-size: 0 //Reemplazado por display: block; .like-svg

section#view section#post-list .post .bottom .like .like-svg
	width: 55px
	height: 55px
	cursor: pointer
	display: block // En lugar de font-size: 0;

section#view section#post-list .post .bottom .like .selected .like-svg #inner
	fill: #F05

/*
 * Eventos
 */
aside section#events-controls
	background: #FFF
	//padding: 5px 0

//aside section#events-controls .search-box
aside section#events-controls .promoted
aside section#events-controls .events-list
aside section#events-controls .show-more
	padding: 10px
/*
aside section#events-controls .search-box
	margin-top: 10px

aside section#events-controls .search-box input
	background: #F5F5F5
	color: #999
	width: 160px
	height: 10px
	font-size: 14px
	font-style: italic
	padding: 10px
	margin: 0
	border: none
	border-radius: 20px
	outline: none
*/
aside section#events-controls .title
	font-size: 11px
	color: #AAA
	//text-transform: uppercase
		
aside section#events-controls .events-title
	font-size: 14px

aside section#events-controls .event
	margin: 5px 0

aside section#events-controls .event .event-name
	//font-family: Tahoma, Arial, sans-serif
	font-size: 17px
	letter-spacing: -0.5px
	color: #F05
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

aside section#events-controls .event .event-name .at-simbol
	font-family: Verdana, Arial, sans-serif

aside section#events-controls .event .event-name.small
	font-size: 14px

aside section#events-controls .event .event-people
	font-size: 11px
	color: #999
	margin-left: 15px

/*aside section#events-controls .promoted:after
aside section#events-controls .events-list:after
	content: ''
	display: block
	background: #FAFAFA
	height: 5px
	margin-top: 15px*/

aside section#events-controls .show-more
	text-align: center

/*
 * Controles flotantes
 */
section#float-controls
	//background-color: #707077
	//background-color: #E0E0E5 // NEW MAC
	//background-color: #D0D0D7 // NEW MAC
	//background-color: #303037
	//background-color: #E0E0E5
	background-color: #FFFFFF
	//background: linear-gradient(to bottom, rgba(48,48,55,0) 0%,rgba(48,48,55,1) 100%)
	//background: rgba(255,255,255,0.85)
	transition: background-color 250ms linear
	width: 100%
	//height: 32px
	//height: 36px
	color: rgba(255,255,255,0.9)
	//display: table
	display: none
	//padding: 7px 0
	text-align: center
	position: fixed
	bottom: 0
	z-index: 10
	//background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.7) 100%)
	//box-shadow: 0 -2px 0 rgba(0,0,0,0.05) // RE-FLAT

section#float-controls .button
	display: table-cell
	height: 44px

section#float-controls .button.first
section#float-controls .button.last
	width: 44px

section#float-controls .button .ico
	background: url('/images/sprite.svg')
	background-size: auto cover
	width: 44px
	height: 44px
	margin: 0 auto

section#float-controls #btn-options
	background-position: 0px
	width: 44px
section#float-controls #btn-media
	background-position: 176px
section#float-controls #btn-camera
	background-position: 132px
section#float-controls #btn-events
	background-position: 88px
section#float-controls #btn-search
	background-position: 44px
	width: 44px

/*	padding: 8px 15px
	vertical-align: middle
	width: 33%

section#float-controls .button.center
	width: 34%
	//background: rgba(0,0,0,0.07)

section#float-controls .button .btn-ico
	margin: 0 auto

section#float-controls .button #users
	background: url("/images/b1.png")
	width: 20px
	height: 24px
	background-repeat: no-repeat
	background-size: 100% 100%
	//-webkit-filter: invert(1)
	opacity: 0.2

section#float-controls .button #camera
	background: #FFF
	width: 28px
	height: 28px
	//margin: 0 auto
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.2)
	border-radius: 30px
	cursor: pointer

section#float-controls .button #events
	background: url("/images/a.png")
	width: 26px
	height: 26px
	background-repeat: no-repeat
	background-size: 100% 100%
	//margin: 0 0 0 auto
	//-webkit-filter: invert(1)
	opacity: 0.2
*/
/*
section#float-controls #main-controls
	width: 290px
	margin: 0 auto
	
section#float-controls #main-controls .button
	display: inline-block
	vertical-align: middle
	margin: 0 5px

section#float-controls #main-controls .button.control-switch
	//width: 64px
	width: 36px
	//height: 32px
	height: 36px
	background: rgba(255,255,255,0.7)
	//border-radius: 16px
	border-radius: 25px
	//padding: 0 5px
	position: relative

section#float-controls #main-controls .button.control-switch .knob
	//width: 24px
	width: 32px
	//height: 24px
	height: 32px
	//background: rgba(255,255,255,0.9)
	background: #F05
	//border-radius: 12px
	border-radius: 20px
	position: absolute
	//top: 4px
	top: 2px
	//left: 45px
	left: 2px

section#float-controls #main-controls #camera
*/
#send-post
	background: rgba(0,0,0,0.3)
	width: 30px
	height: 30px
	display: inline-block
	vertical-align: middle
	float: right
#fbButton
	background: rgba(0,0,0,0.3)
	width: 30px
	height: 30px
	display: inline-block
	vertical-align: middle
	float: right

/*
 * New post
 */
input#media-loader
	visibility: hidden
	position: absolute

section#new-post
	display: none

section#new-post canvas#new-media-preview
	width: 100%

body.float-view main #controls
body.float-view main #events
body.float-view main #view-controls
body.float-view main #post-list
body.float-view #float-controls
	display: none

body.float-view section#new-post
	display: block

section#new-post #positionMap img
	width: 100%

/*
 * Pie
 */
footer
	margin: 10px 5px
	font-size: 12px
	//color: #999
	color: #AAA // NEW MAC

footer #brand
	margin: 5px 0

/*
 * Responsive
 */ 

@media (max-width: 779px) 
	main
		min-width: 650px
	aside#first
		width: 110px

@media (max-width: 669px) 
	main
		min-width: 290px
		bottom: 44px

	aside#first,
	aside#second
		display: none
		//width: 33.5%
			
	main #wrapper
		width: 100%
		max-width: inherit
	
	aside
		padding: 10px 0
	
	aside #people-side,
	aside #events-side
		position: inherit

	section#view
		display: block
		margin: 0 auto
	
	section#view // NEWLOGO
		padding: 0 
	
	section#float-controls
		//background-color: #303037
		display: table

@media (max-width: 329px)
	main
		top: 44px
	
	header
		padding: 4px 0 5px 0;

	header #title a
		background-size: 97px 35px
		width: 97px
		height: 35px
		/*
	section#view section#post-list .post .bottom .post-detail .post-title
		//font-size: 16px
		//letter-spacing: -0.5px
	
	section#view section#post-list .post .bottom .post-detail .sub-info
		//letter-spacing: -0.5px
		*/
/*section#view section#post-list .post // NEWLOGO
		margin-bottom: 15px*/

/*section#view #view-wrapper
		padding: 0 // NEWLOGO*/

/*
@media (max-width: 969px) 
	main
		width: 870px // -100
	section#view
		width: 400px // -100
	section#view section#post-list .post .media
	section#view section#post-list .post .media img
		width: 400px // -100
		height: 400px // -100
	section#view section#post-list .post .info
		width: 380px // -100
	section#view section#post-list .post:after 
		width: 390px // -100
	section#view section#post-list .post .info .post-data
		width: 225px // -50
	section#view section#post-list .post .info .event-data
		width: 115px // -50
	section#float-footer #main-controls
		width: 430px // -100

@media (max-width: 869px) 
	main
		width: 720px // -150
	section#view
		width: 300px // -100
	section#view section#post-list .post .media
	section#view section#post-list .post .media img
		width: 300px // -100
		height: 300px // -100
	section#view section#post-list .post .info
		width: 280px // -100
	section#view section#post-list .post:after 
		width: 290px // -100
	section#view section#post-list .post .info .post-data
		width: 175px // -50
	section#view section#post-list .post .info .event-data
		width: 55px // -50
	aside#controls
		width: 180px // Especial -20
	aside#events
		width: 180px  // Especial -20
	aside#events section#events-controls .search-box input
		width: 140px
	section#view
		padding: 15px 10px // Especial -5
	section#float-footer #main-controls
		width: 320px // -100

@media (max-width: 719px)
	main
		width: 630px
	aside#controls
		width: 110px
		position: static
		display: inline-block
	aside#events
		width: 160px
		position: static
		display: inline-block
	section#view
		display: inline-block
	aside#events section#events-controls .search-box input
		width: 120px
	section#float-footer #main-controls
		width: inherit

/* Anchio 100% Necesesita js
@media (max-width: 629px)
	main
		width: 100%
	aside#controls
		display: none
	aside#events
		display: none
	section#view
		width: initial
		display: block
		max-width: 500px
		margin: 0 auto
	section#view section#post-list .post .media
	section#view section#post-list .post .media img
		width: 100%
	section#view section#post-list .post .info
		width: initial // -100
	section#view section#post-list .post:after 
		width: 230px // -100
	section#view section#post-list .post .info .post-data
		width: 45px // -50
	section#view section#post-list .post .info .event-data
		width: 35px // -50
*/
/*
@media (max-width: 629px)
	main
		width: 460px
	aside#controls
		display: none
	aside#events
		display: none
	section#view
		width: 440px
	section#view section#post-list .post .media
	section#view section#post-list .post .media img
		width: 440px
		height: 440px
	section#view section#post-list .post .info
		width: 420px // -100
	section#view section#post-list .post:after 
		width: 430px // -100
	section#view section#post-list .post .info .post-data
		width: 245px // -50
	section#view section#post-list .post .info .event-data
		width: 135px // -50
	/*aside#events
		width: 150px
	aside#events section#events-controls .search-box input
		width: 110px*/
	/*
@media (max-width: 459px)
	main
		width: 320px
		padding-top: 40px
	header #title a
		width: 70px
		height: 30px
		background-size: 70px
	aside#events
		display: none
	section#view
		width: 300px
	section#view section#post-list .post .media
	section#view section#post-list .post .media img
		width: 300px
		height: 300px
	section#view section#post-list .post .info
		width: 280px // -100
	section#view section#post-list .post:after 
		width: 290px // -100
	section#view section#post-list .post .info .post-data
		width: 175px // -50
	section#view section#post-list .post .info .event-data
		width: 65px // -50
	aside#events
		width: 150px
	aside#events section#events-controls .search-box input
		width: 110px
	section#new-post
		padding-top: 45px
*/
/// NEW MAQ
