@import 'nib'

/* 
 * Estilos generales
 * ------- ---------
 */
body
  background-color: #EEE
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px
  margin: 0
  min-width: 995px

a
  color: #00B7FF

input
		border: 1px solid #CCC

/*
 * Estilos específicos
 * ------- -----------
 */

/*
 * Cabecera
 */
header
	background-color: #FFF
	width: 100%
	min-width: 995px
	position: fixed
	top: 0
	z-index: 1

header #header
	display: flex
	align-items: center
	margin: 0 20px
	height: 60px

header #header #title
	margin-left: 5px

header #header #title a
	background-image: url('../images/sprite.png?v=1001')
	background-repeat: no-repeat
	background-size: 105px
	width: 105px
	height: 45px
	display: block

header #header #title a h1
	display: none

header #header #search-box
	margin-left: 21px

header #header #search-box input
	color: #555
	width: 358px
	height: 19px
	font-size: 14px
	padding: 3px 5px
	border: 1px solid #EEE
	font-weight: normal // IE

header #header nav
	align-self: flex-end

header #header nav:before
	content: ''
	border: 1px solid #AAA
	width: 20px
	height: 30px
	display: inline-block
	margin-left: 10px
	border-bottom: none
	border-right: none
	vertical-align: bottom
	margin-top: 12px

header #header nav select
	font-size: 14px
	color: #333
	border: 1px solid #EEE
	margin: 0px
	vertical-align: top
	height: 27px

/*
 * Cuerpo
 */
main
	display: flex
	margin: 60px 20px 0 20px

/*
 * Cuerpo / Lado
 */
main aside
	background-color: #EEE
	padding: 15px 10px 15px 0
	width: 110px
	text-align: right
	position: fixed

/*
 * Cuerpo / Lado / Perfil
 */
main aside section#profile img
	width: 100px
	height: 100px
	border: 5px solid #FFF

main aside section#profile h1
	font-size: 12px
	font-weight: normal
	margin: 5px;

/*
 * Cuerpo / Lado / Filtro de tipo
 */
 main aside section#type-filter
 	margin: 50px 5px
 	
main aside section#type-filter ul
	margin: 0
	padding: 0

main aside section#type-filter li
	color: #555
	list-style: none
	margin: 10px 0
	border-radius: 20px

main aside section#type-filter li:hover
	color: #000

main aside section#type-filter li:after
	content: ''
	width: 10px
	height: 10px
	margin-left: 10px
	display: inline-block
	border-radius: 20px
	border: 5px solid transparent
	vertical-align: middle
	box-shadow: 0 0 0 2px #FFF

main aside section#type-filter li.all:after
	background-color: transparent

main aside section#type-filter li.all:hover:after
	background-color: #FFF
	border-color: #EEE

main aside section#type-filter li.con:after
	background-color: #F05

main aside section#type-filter li.con:hover:after
	background-color: #FF80AA
	border-color: #F05

main aside section#type-filter li.par:after
	background-color: #70F

main aside section#type-filter li.par:hover:after
	background-color: #BB80FF
	border-color: #70F

main aside section#type-filter li.cul:after
	background-color: #0A9

main aside section#type-filter li.cul:hover:after
	background-color: #80D5CC
	border-color: #0A9

main aside section#type-filter li.div:after
	background-color: #F90

main aside section#type-filter li.div:hover:after
	background-color: #FFCC80
	border-color: #F90

/*
 * Cuerpo / Lado / Buscador por tiempo
 */
main aside section#time-finder
	margin: 60px 5px 20px

main aside section#time-finder ul
	margin: 0
	padding: 0

main aside section#time-finder li
	list-style: none
	height: 20px
	color: #999

main aside section#time-finder li:hover
	color: #000

/*
 * Cuerpo / Lista
 */
main section#list
	width: 370px
	padding: 15px 10px
	border-left: 1px solid #FFF
	border-right: 1px solid #AAA
	margin-left: 120px

main section#list .event
	background-color: #FFF
	width: 370px
	height: 215px
	margin-bottom: 10px
	padding: 10px 0

main section#list .event:after
	content: ''
	position: relative
	bottom: 215px
	left: 370px
	border: none
	border-top: 1px solid #AAA
	display: inline-block
	width: 10px
	vertical-align: top

main section#list .event .event-image
	background-color: #EEE
	width: 350px
	height: 130px
	margin: 0 10px 10px

main section#list .event .event-data
	width: 350px
	height: 45px
	margin: 10px

main section#list .event .event-controls
	border-top: 1px solid #EEE
	height: 29px;

/*
 * Cuerpo / Detalle
 */
main section#detail
	background-color: #333
	margin-left: 20px;
	flex: 1;

// TODO: Ver si es necesario con Angular.js
#type-filter,
#profile,
#time-finder,
header nav select {
	cursor: pointer
}
